// В этом файле должны быть стили для БЭМ-блока main-nav, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lightest:               hsl(0, 0%, 90%) !default;

$screen-xs:                   0 !default;
$screen-sm:                   480px !default;
$screen-md:                   768px !default;
$screen-lg:                   992px !default;
$screen-xl:                   1200px !default;
$screen-xxl:                  1800px !default;

$menu-desktop-width:          $screen-xl !default;
$toggler-part-height:         3px !default;
$toggler-part-bg-color:       #000 !default;

$transition-time:             0.3s !default;

.main-nav {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  z-index: 10;

  width: 100%;

  color: #fff;

  @include lg-block() {
    padding-top: 46px;
  }

  // первый уровень
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    // мобильный вид списка
    @media (max-width: ($menu-desktop-width - 1)) {

      // открытие/закрытие меню только в случае работающего JS

      .js & {
        overflow: hidden;
        max-height: 0;
        transition: max-height 0.2s;
      }

      .js #{$block-name}--open & {
        max-height: 100vh;
        transition: max-height 0.6s;
      }
    }

    // настольный вид списка
    @media (min-width: $menu-desktop-width) {
      display: flex;
      flex-wrap: wrap;
      float: right;

      &--lvl-2,
      &--lvl-3 {
        justify-content: center;
        flex-direction: column;
        padding: 10px 0;

        background-color: $white;
        border-radius: 5px;
      }
    }
  }

  &__item {
    position: relative;

    @include lg-block() {
      margin-left: 17px;

      &:last-child #{$block-name}__link:not(#{$block-name}__link--lvl-2):not(#{$block-name}__link--lvl-3) {
        margin-right: -0.7em;
      }
    }

    &--lvl-2 {

      @include lg-block() {
        margin: 0;
      }
    }

    &--active {

      &:after {

        @include lg-block() {
          content: '';
          position: absolute;
          left: 0.7em;
          right: 0.7em;
          display: block;

          height: 3px;

          background-color: #fff;
        }
      }

      & > #{$block-name}__link {
        color: $color-main;

        @include lg-block() {
          color: $white;
        }
      }
    }
  }

  &__link {
    display: block;
    padding: 0.5em;

    line-height: 1.714em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $white;

    border-radius: 5px;

    @include lg-block() {
      padding: 0.7em;
    }


    &:hover,
    &:focus {
      text-decoration: none;
      background-color: rgba(0, 0, 0, 0.1);
    }

    &--lvl-2 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 1.2em;
      }

      @include lg-block() {
        margin: 0;
        padding-left: 1.65em;
        padding-right: 1.65em;

        font-size: px-to-em(12);
        font-weight: 400;
        text-align: center;
        color: $text-color;

        white-space: nowrap;
        border-radius: 0;
      }
    }

    &--lvl-3 {

      @media (max-width: ($menu-desktop-width - 1)) {
        padding-left: 2.4em;
      }
    }
  }

  &__sublist-wrapper {

    &--lvl-2 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        top: 100%;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);

        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }

    &--lvl-3 {

      @media (min-width: $menu-desktop-width) {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 100%;
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: opacity $transition-time;

        // stylelint-disable  max-nesting-depth
        #{$block-name}__item--show-child > &,
        #{$block-name}__item--lvl-2:hover & {
          opacity: 1;
          height: auto;
          overflow: visible;
        }
        // stylelint-enable
      }
    }
  }



  // переключатель

  &__toggler {
    right: 10px;
    display: inline-block;
    margin-top: 10px;
    padding: 0;
    background: none;
    border: none;

    .no-js & {
      display: none;
    }

    @media (min-width: $menu-desktop-width) {
      display: none;
    }
  }

  &__logo {
    display: block;
    font-size: 2em;
    line-height: 2em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    color: $white;

    @include lg-block() {
      display: inline-block;
      line-height: 1.75em;

    }
  }
}
