// В этом файле должны быть стили для БЭМ-блока view-more, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.view-more {

  $block-name:                &; // #{$block-name}__element

  &__btn {
    position: absolute;
    bottom: 30px;

    display: inline-block;
    margin-left: -27px;
    padding: 5px;
    width: 55px;
    height: 55px;

    font-size: 0;

    border: 2px solid $white;
    border-radius: 50%;

    &:after {
      content: '';
      display: inline-block;
      margin-top: 10px;
      @include sprite($hero-icon-arrow-down);
    }
  }
}
