// В этом файле должны быть стили для БЭМ-блока item-portfolio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.item-portfolio {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  @include col();
  @include size(16);
  @include size-sm(10);
  @include size-md(8);
  @include size-lg(4);
  margin-bottom: 25px;
  padding-top: 68.2%;

  border-radius: 15%;
  overflow: hidden;

  background-image: url(../img/img-portfolio-n01.jpg);
  background-size: cover;

  &:hover #{$block-name}__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  @include sm(padding-top, 42.6%);
  @include md(padding-top, 34.5%);
  @include lg(padding-top, 16.7%);

  &__inner {
    @include col();
    @include size(16);
    @include size-sm(10);
    @include size-md(8);
    @include size-lg(4);

    @include md(order, -1);
    @include lg(order, 0);

    #{$block-name} {
      width: 100%;
      margin: 0;
      margin-bottom: 25px;
      padding-top: 73%;
    }

    &--01 {
      #{$block-name}:nth-child(1) {
        background-image: url(../img/img-portfolio-n01.jpg);
      }

      #{$block-name}:nth-child(2) {
        background-image: url(../img/img-portfolio-n02.jpg);
      }
    }

    &--02 {
      #{$block-name}:nth-child(1) {
        background-image: url(../img/img-portfolio-n04.jpg);
      }

      #{$block-name}:nth-child(2) {
        background-image: url(../img/img-portfolio-n05.jpg);
      }
    }
  }

  &__content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;

    display: none;
    padding: 10%;

    font-size: 0.9em;
    color: $white;

    background-color: $color-main;
    overflow: hidden;

    @include sm(font-size, 1em);
  }

  &__icon {
    display: inline-block;
    @include sprite($portfolio-icon-search);

    @include lg(display, none);
  }

  &__title {
    margin-bottom: 20px;
    margin-top: 10px;

    font-size: px-to-em(16);
    font-weight: 700;
    letter-spacing: -0.025em;
    text-transform: uppercase;
  }

  &__text {
    font-size: 0.95em;
    line-height: 1.35em;
    font-family: $font-family-secondary;
    font-weight: 400;
  }

  &--big {
    @include size-lg(8);
    background-image: url(../img/img-portfolio-n03.jpg);

    @include lg-block() {
      padding-top: 36.15%;
      border-radius: 7.6%;
    }

    #{$block-name}__icon {
      display: inline-block;
    }
  }

  &:nth-child(4) {
    background-image: url(../img/img-portfolio-n06.jpg);
  }

  &:nth-child(5) {
    background-image: url(../img/img-portfolio-n07.jpg);
  }

  &:nth-child(6) {
    background-image: url(../img/img-portfolio-n08.jpg);
  }

  &:nth-child(7) {
    background-image: url(../img/img-portfolio-n09.jpg);
  }
}
