// В этом файле должны быть стили для БЭМ-блока hero, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.hero {

  $block-name:                &; // #{$block-name}__element

  min-height: 100vh;
  padding-top: 1px;
  background: #333333 url('../img/hero-bg.jpg') no-repeat center;
  background-size: cover;
}
