// В этом файле должны быть стили для БЭМ-блока portfolio, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.portfolio {

  $block-name:                &; // #{$block-name}__element

  padding-top: 100px;
  padding-bottom: 80px;

  text-align: center;

  &__wrapper {
    @include wrapper();
  }

  &__row {
    @include row-flex();
    justify-content: center;
    align-items: flex-start;
  }

  &__btn {
    margin-top: 10px;
    padding-left: 40px;
    padding-right: 40px;

    font-size: 1em;
    line-height: 38px;
    text-transform: uppercase;
    color: $color-main;

    border-color: $color-main;
    border-width: 2px;
    border-radius: 5px;
    background-color: transparent;

    &:hover {
      color: $white;
      border-color: darken($color-main, 15%);
      background-color: $color-main;
    }
  }
}
