// В этом файле должны быть стили для БЭМ-блока item-blog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.item-blog {

  $block-name:                &; // #{$block-name}__element

  position: relative;

  background-image: url('../img/blog-img-01.jpg');
  background-position: center;
  background-repeat: no-repeat;

  border-radius: 10px;
  overflow: hidden;

  &__category {
    position: absolute;
    bottom: 58px;
    left: 25px;

    font-weight: 700;
    text-transform: uppercase;
    color: $white;
  }

  &__title {
    position: absolute;
    bottom: 25px;
    left: 25px;

    font-size: 1.7em;
    font-weight: 700;
    color: $white;

    @include lg-block() {
      font-size: 2em;
    }
  }

  &__meta {
    position: absolute;
    top: 70%;
    bottom: 0%;

    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;

    text-align: left;

    background-color: $white;
  }

  &__excerpt {
    font-size: 0.85em;
    line-height: 1.45em;
    font-family: $font-family-secondary;
    color: $gray-darker;

    @include sm(display, none);
    @include md(display, block);
  }

  &--12 {
    background-image: url('../img/blog-img-02.jpg');

    #{$block-name}__category {
      position: static;

      margin-bottom: 5px;

      color: $gray-light;
    }

    #{$block-name}__title {
      position: static;

      margin-bottom: 5px;

      font-size: 1.15em;
      line-height: 1.3em;
      color: $gray-darker;
    }
  }

  &--03 {
    background-image: url('../img/blog-img-03.jpg');
    background-position: right center;
  }

  &--04 {
    background-image: url('../img/blog-img-04.jpg');
    background-position: center 85%;
  }

  &.blog__inner {
    height: auto;

    background: none;
  }
}
