// В этом файле должны быть стили для БЭМ-блока slogan, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.slogan {

  $block-name:                &; // #{$block-name}__element

  padding-top: 60px;
  padding-bottom: 65px;

  font-style: italic;
  font-family: $font-family-secondary;
  text-align: center;
  color: $white;

  background-color: $color-danger;

  @include sm-block() {
    padding-top: 80px;
    padding-bottom: 85px;
  }

  &__wrapper {
    @include wrapper();
  }

  &__quote {
    font-size: px-to-em(20);
    line-height: 1.5em;

    @include sm-block() {
      font-size: px-to-em(24);
    }
  }

  &__cite {
    font-size: px-to-em(14);
    line-height: 2.27em;
    color: $gray-lighter;

    @include sm(font-size, px-to-em(16));
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    margin-top: 30px;
  }

  .owl-dot {
    display: inline-block;
    width: 0;
    margin-right: 8px;

    border: 6px solid #ccc;
    border-radius: 50%;
    opacity: 0.2;

    &:last-child {
      margin-right: 0;
    }

    &.active {
      border-color: $white;
      opacity: 1;
    }
  }
}
