// В этом файле должны быть стили для БЭМ-блока map, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.map {

  $block-name:                &; // #{$block-name}__element


  height: 350px;

  background-color: $color-main;
  background-image: url('../img/map-bg.jpg');
  background-position: 50%;

  &__wrapper {
    position: relative;
    @include wrapper();
  }

  &__icon {
    position: absolute;
    left: 30%;
    top: 100px;

    @include sm(left, 39%);
    @include md(left, 41%);
  }

  &__content {
    position: absolute;
    top: 170px;
    left: 30%;

    width: 190px;
    padding-left: 25px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;

    color: $color-main;
    line-height: 24px;

    background-color: $white;
    border-radius: 10px;

    @include sm-block() {
      top: 100px;
      left: 52%;
    }

    @include md(left, 50%);
    @include lg(left, 48%);

    &::before {
      content: '';
      position: absolute;
      top: -5px;
      left: 20px;

      display: block;
      width: 13px;
      height: 13px;

      background-color: $white;
      transform: rotate(45deg);

      @include sm-block() {
        top: 20px;
        left: -5px;
      }
    }
  }

  &__lead {
    display: block;

    font-size: px-to-em(22);
    letter-spacing: 0.01em;
  }
}
